main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#kolncontainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    float: left;
    height: 80vh;
    width: 50%;

    resize: both;
    overflow: hidden;
    
    max-height: 0;
}

#koln {
    height: 100%;
    width: 100%;

    overflow: hidden;

    border: none;
}

@media screen and (max-aspect-ratio: 8/5) {
    #kolncontainer {
        width: 100%;
    }
}