/* #footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 5vh;

    font-family: Ubuntu Mono;
    font-size: 15px;
    font-weight: 500;
    text-transform: none;

    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--dim);
    background: var(--navy);
}

#footer a {
    text-decoration: none;
    color: var(--dim);

    transition: .4s;
}

#footer a:hover {
    color: var(--dimselect);
} */

#social {
    z-index: 9999;
    padding-top: 1em;
    padding-bottom: 0.5em;
    width: 100%;
    background: var(--navy);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    transition: 0.4s;
}

.sociallink svg {
    stroke: var(--white);
}

.sociallinkfill svg {
    fill: var(--white);
}

.sociallink svg:hover {
    opacity: 0.9;
}

.sociallinkfill svg:hover {
    opacity: 0.9;
}

.sociallink,
.sociallinkfill {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.sociallink svg,
.sociallinkfill svg {
    transition: .4s;
}

svg {
    width: 1.5em;
    stroke-width: 1.5px;
}

@media screen and (max-aspect-ratio: 8/5) {

    .sociallink {
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
    }
    .sociallinkfill {
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
    }

    #social {
        z-index: 9999;
        margin-top: 2em;
        transform: scale(1.1);
        padding-top: 1em;
        padding-bottom: 0.7em;
        width: 100%;
        background: var(--navy);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
    }
}